
/* Thanks to John Albin on zen to make life easier
 * Rollover edit links for blocks
 */

div.block.with-block-editing {
position:relative
}

div.block.with-block-editing div.edit {
display:none;
position:absolute;
right:0;
top:0;
z-index:40;
border:1px solid #eee;
padding:0 2px;
font-size:9px;
background-color:#fff
}

div.block.with-block-editing:hover div.edit {
display:block
}