
/**
 * Zenland header-graphics, for Drupal 6.x
 * Gaus Surahman, gausarts [dot] com
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file via admin/build/themes/settings/zenland.
 *
 * If you do not see any preview display, make sure that your active theme
 * is Zenland
 *
 */


#wrapper-inner{
  /*background:transparent url(header_images/sunburst.png) no-repeat right 64px;
  background:transparent url(header_images/light.png) no-repeat 50% 3px;
  background:transparent url(header_images/sunrise2.png) no-repeat 50% 3px;
  background:transparent url(header_images/blue-moon.png) no-repeat right 3px;
  background:transparent url(header_images/pattern1.jpg) repeat-x left top;
  background: #edf5fa url(images/body.png) repeat-x left top;
  background:transparent url(header_images/pattern2.png) repeat-x left 1px;
  background:transparent url(header_images/ornament5a.png) no-repeat right 0;
  background:transparent url(header_images/ornament5b.png) no-repeat right 34px;
  background:transparent url(header_images/ornament5c.png) no-repeat right 34px;
  background:transparent url(header_images/ornament6.png) repeat-x 0 35px;
  background:transparent url(header_images/ornament7.png) repeat-x 0 35px;
  background:transparent url(header_images/ornament8.png) repeat-x 0 35px;
  background:transparent url(header_images/ornament9.png) repeat-x 0 35px;
  background:transparent url(header_images/ornament11.png) repeat-x 0 35px;
  background:transparent url(header_images/ornament12.png) no-repeat right 35px;
  background:transparent url(header_images/ornament14.png) no-repeat right 0;
  background:transparent url(header_images/ornament7.png) repeat-x 0 35px;
 background:transparent url(header_images/ornament6.png) repeat-x 0 35px;
 ok 
  background:transparent url(header_images/ornament5b.png) no-repeat right 62px;
 background:transparent url(header_images/sunburst.png) no-repeat right 64px;
*/

}

.cloud #wrapper-inner{
background:transparent url(../header_images/cloud.png) no-repeat right 64px;
}

.waves #wrapper-inner{
background:transparent url(../header_images/waves.png) no-repeat 0 40px;
}

.ornament-1 #wrapper-inner{
background:transparent url(../header_images/ornament-1.png) repeat-x right 0;
}

.ornament-2 #wrapper-inner{
background:transparent url(../header_images/ornament-2.png) repeat-x right 4px;
}

.curl #wrapper-inner{
background:transparent url(../header_images/curl.png) no-repeat right 40px;
}

.myheader #wrapper-inner{
/*Add your graphics here, see above as examples, and choose "My Header Image" under Theme-specific settings at admin/build/themes/settings/zenland*/
}

