/**
 * Garland Reloaded, for Drupal 6.x
 * Gaus Surahman, gausarts [dot] com
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net`
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 * Verdana, Tahoma, Optima,Lucida,'Lucida Sans Unicode',sans-serif;
 * Baskerville,'palatino linotype','times new roman',serif;
 * Georgia,"Times New Roman",serif;
 */

/*
 * Generic elements
 */
body {
margin:0;
padding:0;
font:82%/145% Verdana, Tahoma, Optima,Lucida,'Lucida Sans Unicode',sans-serif;
color:#494949;
background:#edf5fa url(../images/body.png) repeat-x 50% 0
}

/*Correct display when admin_menu enabled*/
body.admin-menu {
background-position:50% 20px
}

#wrapper {
}

input {
font:12px/100% Verdana, sans-serif;
color:#494949
}

textarea,select {
font:12px/160% Verdana, sans-serif;
color:#494949
}

h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0;
font-weight:400;
font-family:Baskerville,'palatino linotype','times new roman',serif;
line-height:normal
}

h1 {
font-size:180%
}

h2 {
font-size:170%;
line-height:120%
}

h3 {
font-size:140%
}

h4 {
font-size:130%
}

h5 {
font-size:120%
}

h6 {
font-size:110%
}

ul,quote,code,fieldset {
margin:.5em 0
}

p {
margin:0.6em 0 1.2em;
padding:0
}

a:link,a:visited {
color:#027AC6;
text-decoration:none
}

p a:link {
font-weight:800
}

a:hover {
color:#0062A0;
text-decoration:underline
}

.node a:hover {
border-bottom:1px dotted #0062A0;
text-decoration:none
}

a:active,a.active {
color:#5895be
}

hr {
margin:0;
padding:0;
border:none;
height:1px;
background:#5294c1
}

ul {
margin:0.5em 0 1em;
padding:0
}

ol {
margin:0.75em 0 1.25em;
padding:0
}

ol li,ul li {
margin:0.4em 0 0.4em .5em
}

ul.menu,.item-list ul {
margin:0.35em 0 0 -0.5em;
padding:0
}

ul.menu ul,.item-list ul ul {
margin-left:0
}

ol li,ul li,ul.menu li,.item-list ul li,li.leaf {
margin:0.15em 0 0.15em .5em
}

ul li,ul.menu li,.item-list ul li,li.leaf,ol li,ul li.expanded,ul li.collapsed,ol.task-list li.active,.watchdog-ok,html.js fieldset.collapsible legend a,html.js fieldset.collapsed legend a {
background-image:url(../images/sprite.png);
background-repeat:no-repeat
}

ul li,ul.menu li,.item-list ul li,li.leaf {
padding:0 0 .2em 1.5em;
list-style-type:none;
list-style-image:none;
background-position:0 -694px
}

ol li {
padding:0 0 .3em;
margin-left:2em
}

ul li.expanded,html.js fieldset.collapsible legend a {
background-position:-196px -494px
}

ul li.collapsed,html.js fieldset.collapsed legend a {
background-position:-196px -92px
}

ul li.leaf a,ul li.expanded a,ul li.collapsed a {
display:block
}

ul.inline li {
background:none;
margin:0;
padding:0 1em 0 0
}

ol.task-list {
margin-left:0;
list-style-type:none;
list-style-image:none
}

ol.task-list li {
padding:0.5em 1em 0.5em 2em
}

/*depends on sprite.png*/
ol.task-list li.active {
background-position:-470px -888px
}

ol.task-list li.done {
color:#393;
background-position:-470px -1095px
}

ol.task-list li.active {
margin-right:1em
}

fieldset ul.clear-block li {
margin:0;
padding:0;
background-image:none
}

dl {
margin:0.5em 0 1em 1.5em
}

dl dt {
}

dl dd {
margin:0 0 .5em 1.5em
}

img,a img {
border:none
}

table {
margin:1em 0;
width:100%
}

thead th {
border-bottom:2px solid #d3e7f4;
color:#494949;
font-weight:700
}

th a:link,th a:visited {
color:#6f9dbd
}

td,th {
padding:.3em .5em
}

tr.even,tr.odd,tbody th {
border:solid #d3e7f4;
border-width:1px 0
}

tr.odd,tr.info {
background-color:#edf5fa
}

tr.even {
background-color:#fff
}

tr.drag {
background-color:#fffff0
}

tr.drag-previous {
background-color:#ffd
}

tr.odd td.active {
background-color:#ddecf5
}

tr.even td.active {
background-color:#e6f1f7
}

td.region,td.module,td.container,td.category {
border-top:1.5em solid #fff;
border-bottom:1px solid #b4d7f0;
background-color:#d4e7f3;
color:#455067;
font-weight:700
}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container,tr:first-child td.category {
border-top-width:0
}

span.form-required {
color:#ffae00
}

.submitted,.description {
font-size:0.92em;
color:#898989
}

.description {
line-height:150%;
margin-bottom:0.75em;
color:#898989
}

.messages,.preview {
clear:both;
margin:0.75em 0;
padding:0.5em 1em;
width:98%
}

.messages ul {
margin:0
}

.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item {
margin:0.25em 0
}

#center form {
margin-bottom:2em
}

.form-button,.form-submit {
margin:2em 0.5em 1em 0
}

#dblog-form-overview .form-submit,.confirmation .form-submit,.search-form .form-submit,.poll .form-submit,fieldset .form-button,fieldset .form-submit,.sidebar .form-button,.sidebar .form-submit,table .form-button,table .form-submit {
margin:0
}

.box {
margin:1em 0 2.5em
}

/*CUSTOM search theme form, affect only when placed in header*/
.block-theme {
}

#search label {
display:none
}

.block-theme #search {
position:absolute;
right:0;
top:0;
width:175px;
height:25px;
padding:0;
overflow:hidden
}

.block-theme #edit-search-theme-form-1 div {
margin:0;
padding-right:0
}

.block-theme #search input.form-text {
width:140px;
background:none;
border:none;
margin:0;
font-size:0.92em;
color:/*Adjust to your header bottom color*/
#fff
}

.block-theme #search .form-submit {
background:transparent url(../images/sprite.png) no-repeat scroll -196px -1310px;
border:0 none;
margin:0;
width:24px;
height:24px;
text-indent:-5000px;
cursor:pointer
}

/**
 * Header region
 */
#header-region {
min-height:63px
}

#header-region .block {
display:block;
margin:0 1em
}

#header-region .block-region {
display:block;
margin:0 0.5em 1em;
padding:0.5em;
position:absolute;
top:0.5em;
min-width:95%
}

#header-region * {
display:inline;
line-height:1.2em
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
display:none
}

#header-region p,#header-region img {
margin-top:0.5em
}

#header-region h2 {
margin:0 1em 0 0
}

#header-region h3,#header-region label {
margin:0 .2em;
padding:0
}

/**
 * Header and logo
 */
#header {
height:85px
}

#header #logo-floater {
position:absolute
}

#header h1,#header h1 a:link,#header h1 a:visited {
position:relative;
z-index:2;
white-space:nowrap;
color:#fff
}

#header h1 {
font-size:1.8em
}

#header h1 a:hover {
text-decoration:none
}

#header h1 span {
display:block;
font-size:1.8em;
line-height:1em
}

#header h1 img {
padding-top:6px;
padding-right:20px;
float:left
}

/**
 * Layout
 */
#header-region,#container {
margin:0 auto;
padding:0 20px
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.two-sidebars,body.wide-sidebar {
min-width:980px
}

/* With 2 columns, require a minimum width of 800px. */
body.one-sidebar.sidebar-left,body.one-sidebar.sidebar-right {
min-width:780px
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#container #center {
float:left;
width:100%
}

/* Liquid */
body.two-sidebars.liquid #container,body.wide-sidebar.liquid #container,.liquid #header-region {
min-width:950px;
max-width:1270px
}

body.one-sidebar.liquid #container,body.one-sidebar.liquid #header-region {
min-width:800px
}

/* Fixed */
body.two-sidebars.fixed #container,body.wide-sidebar.fixed #container,.fixed #header-region {
width:960px
}

body.one-sidebar.fixed #container,body.one-sidebar.fixed #header-region {
width:800px
}

/* So we move the #center container over the sidebars to compensate */
body.one-sidebar #center {
margin-right:-320px
}

body.two-sidebars #center,body.wide-sidebar #center,body.wide-sidebar.one-sidebar #center {
margin-right:-460px
}

/* And add blanks left and right for the sidebars to fill */
body.one-sidebar #squeeze {
margin-right:320px
}

body.two-sidebars #squeeze,body.wide-sidebar #squeeze,body.wide-sidebar.one-sidebar #squeeze {
margin:0 460px 0 0
}

#content-top {
}

#content-bottom {
}

#sidebar-wrapper {
float:right;
padding:60px 0 0;
position:relative;
/*Prepare for absolute search form position*/
min-width:300px;
/*Take #sidebar-width for reasonable width*/
width:auto !important;
max-width:440px
}

body.wide-sidebar #sidebar-wrapper {
width:440px
}

#sidebar-wrapper-inner {
}

/* We ensure the sidebars are still clickable using z-index */
#container .sidebar,#container .sidebar-wide {
z-index:2;
position:relative;
display:block
}

#container .sidebar {
}

#container .sidebar-wide {
clear:both
}

#sidebar-left {
float:left;
width:125px;
margin-right:10px
}

#sidebar-left img {
max-width:125px
}

#sidebar-right {
float:left;
width:300px
}

#container .sidebar .block,#container .sidebar-wide .block {
margin:0 0 1.5em;
float:left
}

.block .content {
margin:0.5em 0
}

.block-region {
padding:5px;
background:#FFFFCC;
border:1px solid #fff;
text-align:center;
font-size:1.3em;
clear:both
}

/* Now we add the backgrounds for the main content shading */
#container #center #squeeze {
background:#fff url(../images/bg-content.png) repeat-x 50% 0;
position:relative
}

#container #center .right-corner {
background:transparent url(../images/bg-content-right.png) no-repeat 100% 0;
position:relative;
left:1px
}

#container #center .right-corner .left-corner {
padding:60px 25px 8em;
background:transparent url(../images/bg-content-left.png) no-repeat 0 0;
margin:0 0 -1.4em -1px;
position:relative;
left:-1px;
min-height:400px;
z-index:3;/*Make sure links are clickable when Zen block-editing enabled*/
}

#container #footer {
float:none;
clear:both;
text-align:center;
margin:4em 0 -3em;
color:#898989
}

#footer-message {
float:right
}

#footer-inner {
}

#back-to-top,#footer-left {
float:left
}

#footer ul.menu,#footer li {
margin:0 5px
}

#footer .block,#footer li {
float:left;
background-image:none;
padding:0 3px 0 0
}

#footer .block .content {
margin:0
}

body.one-sidebar #footer {
margin-right:-320px
}

body.two-sidebars #footer,body.wide-sidebar #footer,body.wide-sidebar.one-sidebar #footer {
margin:0 -440px 0 0
}

.breadcrumb {
position:absolute;
top:40px;
left:25px;
z-index:3;
font-size:0.92em
}

.breadcrumb,.breadcrumb a {
color:#529ad6
}

#mission {
padding:1em;
background-color:#fff;
border:1px solid #e0e5fb;
margin-bottom:2em
}

ul.links li,ul.inline li {
background-image:none;
display:inline;
list-style-type:none;
padding:0 0.5em
}

/*Specific to equal width sidebars 210x210*/
body.one-sidebar.zenland-210x210 #center,body.one-sidebar.zenland-210x210 #footer {
margin-right:-320px
}

body.two-sidebars.zenland-210x210 #center,body.wide-sidebar.zenland-210x210 #center,body.wide-sidebar.one-sidebar.zenland-210x210 #center,body.two-sidebars.zenland-210x210 #footer,body.wide-sidebar.zenland-210x210 #footer,body.wide-sidebar.one-sidebar.zenland-210x210 #footer {
margin-right:-460px
}

body.one-sidebar.zenland-210x210 #squeeze {
margin-right:320px
}

body.two-sidebars.zenland-210x210 #squeeze,body.wide-sidebar.zenland-210x210 #squeeze,body.wide-sidebar.one-sidebar.zenland-210x210 #squeeze {
margin:0 460px 0 0
}

body.wide-sidebar.zenland-210x210 #sidebar-wrapper {
width:440px
}

.zenland-210x210 #sidebar-left,.zenland-210x210 #sidebar-right {
width:210px
}

/**
 * Primary navigation
 */
ul.primary-links {
margin:0;
padding:0;
float:right;
position:relative;
z-index:4;
font-size:1.1em;
font-weight:600
}

ul.primary-links li {
float:left;
padding:0;
margin:0 5px
}

ul.primary-links li a,ul.primary-links li a:link,ul.primary-links li a:visited {
display:block;
float:left;
color:#E2F3FA;
padding:32px 5px 6px
}

ul.primary-links li a:hover {
color:#fff;
text-decoration:none
}

ul.primary-links li.active-trail a,ul.primary-links li.active-trail a:hover {
display:block;
text-decoration:none
}

ul.primary-links li.active-trail a,ul.primary-links li.active-trail a:hover {
color:#000
}

ul.primary-links li.active-trail a {
background:transparent url(../images/sprite.png) no-repeat -196px -1375px;
padding:0 0 6px 8px;
float:left
}

ul.primary-links li.active-trail span {
background:transparent url(../images/sprite.png) no-repeat right -1375px;
margin-right:-12px;
padding:32px 12px 8px 0;
float:right;
color:#000
}

ul.primary-links li.active-trail {
margin-right:16px
}

/**
 * Secondary navigation
 */
ul.secondary-links {
padding:0;
clear:both;
position:absolute;
top:2px;
left:15px;
z-index:4
}

ul.secondary-links li {
float:left;
padding:0;
margin:0 1px
}

ul.secondary-links li a,ul.secondary-links li a:link,ul.secondary-links li a:visited {
display:block;
float:left;
padding:5px 8px 6px
}

ul.secondary-links li a:hover {
text-decoration:none
}

ul.secondary-links li.active-trail a,ul.secondary-links li.active-trail a:hover {
display:block;
text-decoration:none
}

ul.secondary-links li.active-trail a {
background:transparent url(../images/sprite.png) no-repeat -196px -1472px;
padding:5px 0 0 12px;
font-weight:800
}

ul.secondary-links li.active-trail span {
background:transparent url(../images/sprite.png) no-repeat scroll right -1475px;
float:right;
margin:-2px -4px 0 0;
padding:4px 12px 4px 0
}

/**
 * Local tasks
 */
ul.primary,ul.primary li,ul.secondary,ul.secondary li {
border:0;
background-image:none;
list-style-image:none;
margin:0;
padding:0
}

#tabs-wrapper {
margin:10px -25px 1em;
padding:0 25px;
position:relative
}

ul.primary {
padding:0.5em 0 2px;
border-bottom:1px solid #e9eff3;
clear:both;
float:left;
width:100%;
margin-bottom:.5em
}

ul.secondary {
clear:both;
text-align:left;
border-bottom:1px solid #e9eff3;
margin:-0.2em -25px 1em;
padding:0 26px 0.6em
}

ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.primary li a:visited,ul.secondary li a,ul.secondary li.active a,ul.secondary li a:hover,ul.secondary li a:visited {
border:0;
background:transparent;
padding:4px 5px;
margin:0 0 0 1px;
height:auto;
text-decoration:none;
position:relative;
top:-1px
}

ul.primary li.active a,ul.primary li.active a:link,ul.primary li.active a:visited,ul.primary li a:hover,ul.secondary li.active a,ul.secondary li.active a:link,ul.secondary li.active a:visited,ul.secondary li a:hover {
background:url(../images/bg-tab.png) repeat-x left top;
color:#000
}

ul.primary li.active a,ul.secondary li.active a {
font-weight:700
}

ul.secondary li {
line-height:24px
}

/**
 * Nodes & comments
 */
.node {
border-bottom:1px solid #e9eff3;
margin:-1.5em -25px 1.5em;
padding:1.5em 25px;
clear:both
}

h1.title {
}

.node .links,.comment .links,.terms {
text-align:left;
font-size:.92em;
color:#898989
}

.node .links ul.links li,.comment .links ul.links li {
padding:0 0.25em 0 0
}

.terms ul.links li {
margin-left:0;
margin-right:0;
padding:0 0 0 0.25em
}

.terms {
float:right
}

.preview .node,.preview .comment {
margin:0;
padding:0.5em 0;
border:0;
background:0
}

.front .sticky {
border-top:1px solid #99C4D5;
border-bottom:1px solid #99C4D5;
margin:0 0 2em;
padding:1px 0
}

.front .sticky .node-inner {
border-bottom:2px solid #99C4D5;
border-top:2px solid #99C4D5;
margin:1px 0;
padding:10px;
background:#fff url(../images/gradient-inner.png) repeat-x 0 0
}

#comments {
position:relative;
top:-1px;
border-bottom:1px solid #e9eff3;
margin:-1.5em -25px 0;
padding:0 25px;
background-color:#fff
}

#comments h2.comments,#comments .box h2 {
margin:0;
padding:0 5px 0 0;
/*background:#fff url(../images/gradient-inner.png) repeat-x 0 0;*/
text-align:center;
border-top:4px solid #b4d7f0;
color:#fff
}

#comments h2.comments span,#comments .box h2 span {
background-color:#b4d7f0;
padding:0 10px 5px
}

.comment {
margin:0;
padding:1.5em 0 0;
clear:both
}

.comment.even {
border-bottom:1px solid #e9eff3
}

.picture {
float:right
}

.comment .submitted {
float:left;
clear:left;
margin:0 0 10px;
padding:15px 0 10px 5px;
position:relative;
width:120px;
min-height:80px;
border-top:2px solid #b4d7f0;
font-size:78%
}

.comment .submitted strong {
font-size:12px
}

.comment .picture {
float:none
}

.comment-inner {
padding:0 0 10px
}

.comment.odd .comment-inner {
background-color:#ECF6FD
}

.comment .content {
margin-left:120px;
border-top:1px solid #b4d7f0;
padding:10px
}

/*Adjust to your avatar size*/
.comment .picture img {
width:40px;
height:40px
}

#comments .box {
border:1px solid #b4d7f0
}

#comments .box .content {
padding:10px
}

.new {
color:#ffae00;
font-size:0.92em;
font-weight:700;
float:right
}

.comment .new {
float:none
}

.comment .links {
clear:left;
text-align:right
}

html.js #comments .resizable-textarea textarea,html.js #comment-form .resizable-textarea textarea {
height:120px
}

.user-signature {
text-align:right;
font-style:italic;
color:#999
}

.indented {
margin-left:25px
}

.comment h3 a.active {
color:#494949
}

.node .content {
margin:0.6em 0;
clear:both
}

/**
 * Aggregator.module
 */
#aggregator {
margin-top:1em
}

#aggregator .feed-item-title {
font-size:160%;
line-height:130%
}

#aggregator .feed-item {
border-bottom:1px solid #e9eff3;
margin:-1.5em -31px 1.75em;
padding:1.5em 31px
}

#aggregator .feed-item-categories {
font-size:0.92em
}

#aggregator .feed-item-meta {
font-size:0.92em;
color:#898989
}

/**
 * Color.module
 */
#palette .form-item {
border:1px solid #fff
}

#palette .item-selected {
background:#fff url(../images/gradient-inner.png) repeat-x 0 0;
border:1px solid #d9eaf5
}

/**
 * Menu.module
 */
tr.menu-disabled {
opacity:0.5px
}

tr.odd td.menu-disabled {
background-color:#edf5fa
}

tr.even td.menu-disabled {
background-color:#fff
}

/**
 * Poll.module
 */
.poll .bar {
background:#fff url(../images/bg-bar-white.png) repeat-x 0 0;
border:solid #f0f0f0;
border-width:0 1px 1px
}

.poll .bar .foreground {
background:#71a7cc url(../images/bg-bar.png) repeat-x 0 100%
}

.poll .percent {
font-size:.9em
}

/**

 * Autocomplete.
 */
#autocomplete li {
cursor:default;
padding:2px;
margin:0
}

/**
 * Collapsible fieldsets
 */
fieldset {
margin:1em 0;
padding:1em;
border:1px solid #d9eaf5;
background:#fff url(../images/gradient-inner.png) repeat-x 0 0;
clear:both
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
padding:0 1em 1em;
background-position:0 .75em;
background-color:transparent
}

*:first-child+html fieldset > .description,*:first-child+html fieldset .fieldset-wrapper .description {
padding-top:1em
}

fieldset legend {
/* Fix disappearing legend in FFox */
display:block
}

*:first-child+html fieldset legend,*:first-child+html fieldset.collapsed legend {
display:inline
}

html.js fieldset.collapsed {
background:transparent;
padding-top:0;
padding-bottom:.6em
}

html.js fieldset.collapsible legend a {
padding-left:2em
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
float:left;
padding-right:20px
}

#block-node-0 img {
float:right;
padding-top:4px
}

#block-node-0 .content {
clear:right
}

.feed-icons {
margin:15px 0 0 10px;
float:right
}

/**
 * Login Block
 */
#user-login-form {
text-align:left
}

#user-login-form ul {
text-align:left
}

/**
 * User profiles.
 */
.profile {
margin-top:1.5em
}

.profile h3 {
border-bottom:0;
margin-bottom:1em
}

.profile dl {
margin:0
}

.profile dt {
font-weight:400;
color:#898989;
font-size:0.92em;
line-height:1.3em;
margin-top:1.4em;
margin-bottom:0.45em
}

.profile dd {
margin-bottom:1.6em
}

/**
 * Admin Styles
 */
div.admin-panel,div.admin-panel .description,div.admin-panel .body,div.admin,div.admin .left,div.admin .right,div.admin .expert-link,div.item-list,.menu {
margin:0;
padding:0
}

div.admin .left {
float:left;
width:48%
}

div.admin .right {
float:right;
width:48%
}

div.admin-panel {
background:#fff url(../images/gradient-inner.png) repeat-x 0 0;
padding:1em 1em 1.5em
}

div.admin-panel .description {
margin-bottom:1.5em
}

div.admin-panel dl {
margin:0
}

div.admin-panel dd {
color:#898989;
font-size:0.92em;
line-height:1.3em;
margin-top:-0.2em;
margin-bottom:.65em
}

table.system-status-report th {
border-color:#d3e7f4
}

#autocomplete li.selected,tr.selected td,tr.selected td.active {
background:#027ac6;
color:#fff
}

tr.selected td a:link,tr.selected td a:visited,tr.selected td a:active {
color:#d3e7f4
}

tr.taxonomy-term-preview {
opacity:0.5px
}

tr.taxonomy-term-divider-top {
border-bottom:none
}

tr.taxonomy-term-divider-bottom {
border-top:1px dotted #CCC
}

/*Bluetrip theme screenshot is too wide*/
#system-themes-form img {
max-width:150px
}

/**
* Change to your preference
* Block Title
*/
.block h2 {
font-size:1.4em;
font-variant:small-caps;
font-weight:200;
letter-spacing:1px;
margin:0 0 10px
}

/*As per link color*/
.first-word {
font-weight:800;
color:#027AC6
}

/*support codefilter module & custom block quote*/
blockquote,div.codeblock {
color:#777;
margin:5px 0 15px 20px;
width:90%;
clear:both;
display:block
}

blockquote {
font-style:italic;
font-family:Georgia,"Times New Roman",serif;
line-height:22px;
border-left:2px solid #eaeaea;
padding:0 10px
}

div.codeblock {
background-color:#EAF4FA;
font-family:monospace;
font-size:1.2em;
border-color:#99C4D5;
border-width:2px 0 1px;
border-style:solid;
padding:10px
}

.terms,.terms-inline {
display:inline
}

.item-list .pager li {
padding:0.5em .25em
}

.dropcap {
color:#027AC6;
display:block;
float:left;
font:50px/40px Georgia,Times,serif;
padding:6px 8px 0 0
}

/*Header images preview as per header bottom color, placed here for dynamic background color*/
.header-graphics {
background:#5ab5ee
}

/**
 * CSS support
 */
/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/
/**
 * Generic elements.
 */
.messages {
background-color:#fff;
border:1px solid #b8d3e5
}

.preview {
background-color:#fcfce8;
border:1px solid #e5e58f
}

div.status {
color:#33a333;
border-color:#c7f2c8
}

div.error,tr.error {
color:#a30000;
background-color:#FCC
}

.form-item input.error,.form-item textarea.error {
border:1px solid #c52020;
color:#363636
}

/**
 * dblog.module
 */
tr.dblog-user {
background-color:#fcf9e5
}

tr.dblog-user td.active {
background-color:#fbf5cf
}

tr.dblog-content {
background-color:#fefefe
}

tr.dblog-content td.active {
background-color:#f5f5f5
}

tr.dblog-warning {
background-color:#fdf5e6
}

tr.dblog-warning td.active {
background-color:#fdf2de
}

tr.dblog-error {
background-color:#fbe4e4
}

tr.dblog-error td.active {
background-color:#fbdbdb
}

tr.dblog-page-not-found,tr.dblog-access-denied {
background:#d7ffd7
}

tr.dblog-page-not-found td.active,tr.dblog-access-denied td.active {
background:#c7eec7
}

/**
 * Status report colors.
 */
table.system-status-report tr.error,table.system-status-report tr.error th {
background-color:#fcc;
border-color:#ebb;
color:#200
}

table.system-status-report tr.warning,table.system-status-report tr.warning th {
background-color:#ffd;
border-color:#eeb
}

table.system-status-report tr.ok,table.system-status-report tr.ok th {
background-color:#dfd;
border-color:#beb
}