
/*
 * THEME SETTINGS STYLES
 * Copied from zen by johnalbin
 * This file is only loaded on the Theme Settings page for zenland and its
 * subthemes: admin/build/themes/settings
 */
#zenland-settings fieldset .form-item {
padding-left:180px
}

#zenland-settings fieldset .form-checkboxes .form-item,#zenland-settings fieldset .form-radios .form-item {
padding-left:0
}

#zenland-settings fieldset .form-item label {
float:left;
width:170px;
margin-left:-180px;
margin-right:10px;
text-align:right;
_display:inline-block
/* IE6 is dumb. */
}

#zenland-settings fieldset .form-item label.option {
float:none;
width:auto;
margin-left:0;
margin-right:0;
text-align:left
}

#div-zenland-registry,#div-zenland-wireframes {
margin:1em 0
}

#div-zenland-registry strong,#div-zenland-wireframes strong {
float:left;
width:170px;
margin-left:0;
margin-right:10px;
text-align:right
}

#div-zenland-registry fieldset .form-item,#div-zenland-wireframes fieldset .form-item {
display:inline;
margin-left:0;
padding-left:0
}

#div-zenland-registry fieldset .form-item .description,#div-zenland-wireframes fieldset .form-item .description {
display:block;
margin-left:180px
}

.form-item > div.header-graphics {
float:left;
padding:6px;
width:96%;
color:#fff
}

.header-graphics > div.form-item {
background:none;
float:left;
margin:0 5px 20px 0;
min-height:80px;
text-align:left;
width:125px;
}

.header-graphics > div.form-item img {
max-width:100px;
padding:2px;
border:1px solid #fff;
margin-top:10px
}

/* preview.css,v 1.1 2006/10/29 13:17:38 unconed*/
/* Positioning */
#preview {
overflow:hidden;
max-width:100%
}

#preview,#preview #img {
width:450px;
height:282px
}

#preview #gradient {
position:absolute;
left:0;
right:0;
top:3px;
height:371px;
z-index:2
}

#preview #text {
height:100px;
left:60px;
position:absolute;
top:150px;
width:340px;
z-index:4
}

#preview #img {
position:relative;
z-index:3
}

#preview #gradient .gradient-line {
height:10px;
overflow:hidden
}

/* Basic styles to match */
#preview {
font:12px/170% Verdana
}

#preview h2 {
margin:0;
padding:0;
font-weight:400;
font-family:Helvetica, Arial, sans-serif;
font-size:160%;
line-height:130%
}

#preview p {
margin:.5em 0
}

#preview a:link,#preview a:visited {
text-decoration:none;
font-weight:400
}

#preview a:hover {
text-decoration:underline
}